<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special-Spoon-DashBoard</title> 
    <style>
        h1 , p {
            color: white;
            font-weight:800;
            text-align: center;
        }
.set{
        color: white;
    top: 100px;
    position: relative;
}
.below{
    top: 90px;
    position: relative;
    width: 50%;
    left: 25%;
}

.dm{
  margin-top: 125px;
  padding: 10px 0 10px 0;
  
  background-color: grey;
 
}
.dm p{
  margin-bottom: 0rem;
}
    </style>
    
</head>
<body>
    {{!-- {{>navbar}} --}}
     {{>newnavbar}}
    {{!-- <h1>SEcret</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repudiandae dolorem doloribus explicabo sunt voluptatum commodi quae blanditiis rerum, veniam magnam illum similique quo quas ipsum animi optio ipsam harum iure provident. Voluptatum omnis accusamus cum, asperiores quasi adipisci quaerat tempore architecto ad ut ipsum, aspernatur totam assumenda possimus facilis, ducimus sapiente! Cum, harum? Ipsam!</p> --}}
{{!-- </body>
</html> --}}



    
       <h1 class="set">Welcome,  {{defaultIfUndefined userData.Username "Buddy"}}!</h1>

   
    <main class="set">
        <!-- Your dashboard content goes here -->
        <p>This is your user dashboard. You can add your content here.</p>
    </main>
    <div class="set">
        <p>Email:  {{defaultIfUndefined userData.Email "buddy@gmail.com"}}</p>
    </div>
    <div class="below">
    <h2>User Information:</h2>
    <form method="POST" action="/update-profile">
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="text" class="form-control" id="name" name="username" required>
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age" required>
      </div>

      <div class="mb-3">
         <label for="phone" class="form-label">Phone Number</label>
        <input type="number" class="form-control" id="phone" name="phone" required>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
      </div>

      <!-- Add more form fields as needed -->

      <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
   <br>
  
     <a href="/logout" class="btn btn-danger">Logout</a>
     <a href="/" class="btn btn-primary ">Go to HomePage</a>
    <a href="/recipe" class="btn btn-success" target="_blank">Go to Recipe Page</a>
  </div>
  </div>

<div class="col-md-12 text-center dm">
        <p>&copy; 2023 Special-Spoon. All Rights Reserved.</p>
</div>
</body>
</html>
