<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Special-Spoon</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="css/navbar.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  
<div class="fixed-top">
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand " href="#">Special-Spoon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/register">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/secret">Main page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/logout">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{!-- <header style="background:url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-position: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="te text-center">
                    <h1>!!Register Yourself Here!!</h1>
                    <p>Give Your information for future use</p>
                </div>
            </div>
        </div>
    </div>
</header> --}}
</div>
</body>
</html>